@charset 'utf-8';

@font-face { font-family:'NotoSans';
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    src:  url(/font/jpn/NotoSans-Light.woff2) format('woff2'),
          url(/font/jpn/NotoSans-Light.woff) format('woff'),
          url(/font/jpn/NotoSans-Light.otf) format('opentype'); }

@font-face { font-family:'NotoSans';
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    src:  url(/font/jpn/NotoSans-Regular.woff2) format('woff2'),
          url(/font/jpn/NotoSans-Regular.woff) format('woff'),
          url(/font/jpn/NotoSans-Regular.otf) format('opentype'); }

@font-face { font-family:'NotoSans';
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    src:  url(/font/jpn/NotoSans-Medium.woff2) format('woff2'),
          url(/font/jpn/NotoSans-Medium.woff) format('woff'),
          url(/font/jpn/NotoSans-Medium.otf) format('opentype'); }